#steam{
  background-image: url(../images/steam.png);
  background-size:cover;
  background-position: center;
}

#ps4{
  background-image: url(../images/playstation.png);
  background-size:cover;
  background-position: center;
}

#xbox{
  background-image: url(../images/xbox.png);
  background-size:cover;
  background-position: center;
}
.search-btn .btn {
  width:45px;
  height:38px;
}

#homepageSearch{
  background-image: url(http://i.imgur.com/OkUXXji.png);
  height: 100vh;
}

.mainSearch{
  position: relative;
  color: black;
  font-size: 30px;
  top: 250px;
  align-items: center;
  justify-content: center;
}

#curSeasonLb{
  background: black;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-right: 105px;
  margin-left: 25px;
}

#totalLb{
  background: white;
  background: black;
  color: white;
  text-align: center;
  font-size: 20px;
}

#curSeasonTable{
  width: 42%;
  float: left;
  margin-right: 100px;
  margin-left: 25px;
}

#totalTable{
  width: 42%
}
