/* NavBar customization */
.navbar{
  margin-bottom: 0px;
  }

.navbar-brand{
  background-image: url(../images/gc.png);
}

/*Search bar and buttons */
#ps4{
  background-image: url(../images/playstation.png);
  background-size:cover;
  background-position: center;
}

#xbox{
  background-image: url(../images/xbox.png);
  background-size:cover;
  background-position: center;

}

#steam{
  background-image: url(../images/steam.png);
  background-size:cover;
  background-position: center;
}

#ps4, #xbox, #steam {
  width:47px;
  height:43px;
  opacity: .5;
  background-color: #464646;
}

.search-btn .active.btn{
  opacity: .9 !important;
}

#submit{
  text-align: center;
}

.mainSearch{
  position: relative;
  color: black;
  font-size: 30px;
  top: 100px;
  align-items: center;
  justify-content: center;
}


#homepageSearch{
  background-image: url(../images/background);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.leaderboardPage{
  background-image: url(../images/background);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#individualStats{
  text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
    color: white;
    display: none;
    background-color: black;
    opacity: .8;
    width: 48%;
    border-radius: 10px;
    margin-bottom: 50px;
}

#performance{
  text-align: center;
  position: relative;
  left: auto;
}



#historyBar{
  position: relative;
  color: black;
  font-size: 30px;
  top: 100px;
  align-items: center;
  justify-content: center;
}

#lifetimeLb{
  text-align: center;

}

/*#performance{
  border: solid;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
.stats{
  margin: 15px;
}


.chartContainer{
  height: 275px;
  width: 275px;
  margin: auto;
  margin-bottom: 15px;
}
.chartTitle{
  text-align: center;
}

.canIPutThisHere{
  position: absolute;
  top: 52px;
  right: 95px;
  width: 220px;
  height: 100px;
}

.well-lg{
  background-color: black;
  color: white;
  height: 300px;
  width: 190px;
  position: absolute;
  top: 40%;
  right: 0px;
  border-color: black;
  margin-left: 15px;
  opacity: .8;
  border-radius: 10px;
}

#rankedTwos, #rankedThrees, #rankedDuels, #rankedSoloDuel{
  background-color: black;
  color: white;
  text-align: left;
  margin-top: 20px;
  border-radius: 10px;
}

#popHead{
  color: white;
  font-size: 20px;
}

.footer{
  position: static;
  background-color: #222222;
  text-align: center;
  color: white;
  height: 50px;
}

#dreamTeam{
  background-color: black;
  color: white;
  opacity: .8;
  margin-top: 125px;
  text-align: center;
  border-radius: 25px;

}

#wins, #goals, #saves, #shots, #mvps, #assists{
  font-size: 24px;
  text-align: center;
}

#winTotal, #goalTotal, #saveTotal, #shotTotal, #mvpTotal, #assistsTotal{
  font-size: 18px;
  text-align: center;
}
#chartTitle{
  color: white;
  font-size: 24px;
  text-align: center;
}


/*Media Queries*/
@media (max-width: 720px) {
  #individualStats {
    text-align: center;
      position: absolute;
      top: 40%;
      left: 20%;
      color: white;
      display: none;
      background-color: black;
      opacity: .8;
      width: 48%;
      border-radius: 10px;
      margin-bottom: 50px;
  }

  @media (max-width: 600px) {
    #individualStats {
      text-align: center;
        position: absolute;
        top: 40%;
        left: 5%;
        color: white;
        display: none;
        background-color: black;
        opacity: .8;
        width: 48%;
        border-radius: 10px;
        margin-bottom: 50px;
    }
