/* NavBar customization */
.navbar{
  margin-bottom: 0px;
  }

/*Search bar and buttons */
#ps4{
  background-image: url(../images/playstation.png);
  background-size:cover;
  background-position: center;
}

#xbox{
  background-image: url(../images/xbox.png);
  background-size:cover;
  background-position: center;

}

#steam{
  background-image: url(../images/steam.png);
  background-size:cover;
  background-position: center;
}

#ps4, #xbox, #steam {
  width:47px;
  height:43px;
  opacity: .5;
  background-color: #464646;
}

.search-btn .active.btn{
  opacity: .9 !important;
}

#submit{
  text-align: center;
}

.mainSearch{
  position: relative;
  color: black;
  font-size: 30px;
  top: 100px;
  align-items: center;
  justify-content: center;
}


#homepageSearch{
  background-image: url(../images/background);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#individualStats{
    position: absolute;
    top: 50%;
    left: 13%;
}



#historyBar{
  position: relative;
  color: black;
  font-size: 30px;
  top: 100px;
  align-items: center;
  justify-content: center;
}

#curSeasonLb{
  text-align: center;

}

#lifetimeLb{
  text-align: center;

}

#performance{
  border: solid;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats{
  margin: 15px;
}
